location                = "eastus"
project_name            = "n8n"
environment             = "dev"
subscription_id         = "YOUR-SUBSCRIPTION-ID"
tenant_id               = "YOUR-TENANT-ID"
storage_account_name    = "YOUR-STORAGE-ACCOUNT-NAME"
n8n_basic_auth_user     = "admin"
n8n_basic_auth_password = "YOUR-SECURE-PASSWORD"
n8n_image               = "ghcr.io/n8n-io/n8n:latest"
docker_username         = ""
docker_password         = ""